{:objects
 {:dataset
  {:implements [:dataset_meta]
   :fields
   {:uri         {:type :uri :description "Dataset URI"}
    :title       {:type String :description "Dataset title"}
    :description {:type String :description "Dataset description"}
    :licence     {:type :uri :description "URI of the licence the dataset is published under"}
    :issued      {:type :DateTime :description "When the dataset was issued"}
    :modified    {:type :DateTime :description "When the dataset was last modified"}
    :publisher   {:type :uri :description "URI of the publisher of the dataset"}
    :schema      {:type String :description "Name of the GraphQL query root field corresponding to this dataset"}
    :dimensions  {:type        (list :dim)
                  :resolve     :resolve-dataset-dimensions
                  :description "Dimensions within the dataset"}
    :measures    {:type (list :measure)
                  :resolve :resolve-dataset-measures
                  :description "Measure types within the dataset"}}}

  :dim
  {:fields
   {:uri    {:type :uri :description "URI of the dimension"}
    :values {:type (list :dim_value) :description "Code list of values for the dimension"}
    :enum_name {:type String :description "Name of the corresponding enum value"}}}

  :measure
  {:fields
   {:uri {:type :uri :description "URI of the measure"}
    :label {:type String :description "Label for the measure"}
    :enum_name {:type String :description "Name of the corresponding enum value"}}}

  :unmapped_dim_value
  {:implements [:resource]
   :fields
   {:uri   {:type :uri :description "URI of the dimension value"}
    :label {:type String :description "Label for the dimension value"}}}

  :enum_dim_value
  {:implements [:resource]
   :fields
   {:uri   {:type :uri :description "URI of the dimension value"}
    :label {:type String :description "Label for the dimension value"}
    :enum_name {:type String :description "Name of the corresponding enum value"}}}

  :ref_period
  {:fields
   {:uri {:type :uri :description "URI of the reference period"}
    :label {:type String :description "Label for the reference period"}
    :start {:type :DateTime :description "Start time for the period"}
    :end {:type :DateTime :description "End time for the period"}}}

  :ref_area
  {:implements [:resource]
   :fields
   {:uri {:type :uri :description "URI of the reference area"}
    :label {:type String :description "Label for the reference area"}}}}

 :interfaces
 {:dataset_meta
  {:description "Fields common to generic and specific dataset schemas"
   :fields
   {:uri         {:type :uri :description "Dataset URI"}
    :title       {:type String :description "Dataset title"}
    :description {:type String :description "Dataset description"}
    :schema      {:type String :description "Name of the GraphQL query root field corresponding to this dataset"}
    :dimensions  {:type (list :dim) :description "Dimensions within the dataset"}
    :measures {:type (list :measure) :description "Measure types within the dataset"}}}
  :resource
  {:description "Resource with a URI and optional label"
   :fields
   {:uri {:type :uri :description "URI of the resource"}
    :label {:type String :description "Optional label"}}}}

 :enums
 {:sort_direction
  {:description "Which direction to sort a dimension or measure in"
   :values      [:ASC :DESC]}}

 :unions
 {:dim_value
  {:members [:enum_dim_value :unmapped_dim_value]}}

 :input-objects
 {:filter
  {:fields
   {:or  {:type        (list :uri)
          :description "List of URIs for which at least one must be contained within matching datasets."}
    :and {:type        (list :uri)
          :description "List of URIs which must all be contained within matching datasets."}}}
  
   :valuefilter
    {:fields
    {:or  {:type        (list :componentvalue)
           :description "List of :componentvalues for which at least one must be contained within matching datasets."}
     :and {:type        (list :componentvalue)
           :description "List of :componentvalues which must all be contained within matching datasets."}}}
  
  :componentvalue
   {:fields
    {:component {:type :uri :description "The URI of a dimension or attribute"}
     :values    {:type (list :uri) :description "A list of dimension/attribute values"}
     :levels    {:type (list :uri) :description "A list of URIs of the hierarchical levels of dimension/attribute value"}   
    }
   }

  :ref_period_filter
  {:fields
   {:uri {:type :uri :description "URI of the reference period"}
    :starts_before {:type :DateTime :description "Latest start time for the reference period"}
    :starts_after {:type :DateTime :description "Earliest start time for the reference period"}
    :ends_before {:type :DateTime :description "Latest end time for the reference period"}
    :ends_after {:type :DateTime :description "Earliest end time for the reference period"}}}

  :page_selector
  {:fields
   {:first {:type Int :description "Number of results to retrive."}
    :after {:type :SparqlCursor :description "Cursor to the start of the results page"}}}}

 :queries
 {:datasets
  {:type    (list :dataset)
   :resolve :resolve-datasets
   :args
            {:dimensions {:type :filter}
             :measures       {:type :filter} 
             :attributes     {:type :filter}
             :componentValue {:type :valuefilter}
             :uri        {:type :uri}}}}}
