{:objects
 {:dataset
  {:fields
   {:uri {:type :uri}
    :title {:type String}
    :description {:type String}
    :dimensions {:type (list :dim)}
    :observations {:type :observation_result
                   :args {:dimensions {:type :obs_dims}}
                   :resolve :resolve-observations}}}

  :dim
  {:fields
   {:uri {:type :uri}
    :values {:type (list :dim_value)}}}

  :dim_value
  {:fields
   {:uri {:type :uri}
    :label {:type String}}}

  :observation_result
  {:fields
   {:matches {:type (list :observation)}
    :free_dimensions {:type (list :dim)}}}

  :observation
  {:fields
   {:uri {:type :uri}
    :value {:type String}}}}

 :input-objects
 {:obs_dims
  {:fields
   {:gender {:type :gender_type}
    :measure_type {:type :measure_type_type}
    :population_group {:type :population_group_type}
    :reference_period {:type :year}}}}

 :enums
 {:gender_type
  {:description "Gender"
   :values [:ALL :MALE :FEMALE]}

  :measure_type_type
  {:description "Measure type"
   :values [:MEDIAN]}

  :population_group_type
  {:description "Population group"
   :values [:RESIDENCE_BASED :WORKPLACE_BASED]}}
 
 :queries
 {:dataset
  {:type :dataset
   :resolve :resolve-dataset}}}
