<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="CubiQL" packages="">
  <Appenders>
    <File name="cubiql-log" fileName="logs/cubiql.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
    <Async name="Async">
      <AppenderRef ref="cubiql-log"/>
    </Async>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Async"/>
    </Root>
  </Loggers>
</Configuration>
